.top{
    background-color: #e0ebe8;
    height: 710px;
    margin: 0px;


}
body{
    margin: 0px;
    text-align: center;
    position: relative;
   
}
h1{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: #45b29a;
    margin-top: -50px;
    margin-bottom: 40px;

}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #45b29a;
    font-weight:500;
    font-size: 50px;
}
.cloud{

    width: 200px;
    position: relative;
    margin-right: 850px;
    margin-top: 20px;
    

}
.cloud1{

    width: 200px;
    position: relative;
    margin-left: 800px;
    margin-top: -100px;
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    color: #45b29a;
    font-weight: normal;
    margin-bottom: 0px;
    margin-right: 300px;
}
.dp{ width: 150px;
    clip-path: circle();
    margin-top: 90px;

}
p{
    color: #7d8382;
    width: 300px;
    margin-left: 600px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    font-size: 19px;
    
    
}
hr{

    border-radius: 550px;
    width: 100px;
    margin-top: 80px;
    height: 3px;
    background-color: #7d8382;


}
.web{
    width: 200px;
    float: left;
    clip-path: view-box;
    margin-left: 400px;
}

.p1{color: #7d8382;
    width: 300px;
    margin-left: 810px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
text-align: left;}
.develop
{
    float: right;
    width: 200px;
    border-radius: 50px;
    margin-right: 400px;

}

.h3{
    margin-left: 330px;
    width: 300px;
}
.p2
{color: #7d8382;
    width: 300px;
    margin-left: 285px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
text-align: right

}
.h4{
    width: 300px;
    margin-left: 600px;
    
}
.btn {
    background: #2ca37f;
    background-image: -webkit-linear-gradient(top, #2ca37f, #0e4c63);
    background-image: -moz-linear-gradient(top, #2ca37f, #0e4c63);
    background-image: -ms-linear-gradient(top, #2ca37f, #0e4c63);
    background-image: -o-linear-gradient(top, #2ca37f, #0e4c63);
    background-image: linear-gradient(to bottom, #2ca37f, #0e4c63);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 5px;
    text-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #badab4;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1bbd6f;
    background-image: -webkit-linear-gradient(top, #1bbd6f, #36c9a9);
    background-image: -moz-linear-gradient(top, #1bbd6f, #36c9a9);
    background-image: -ms-linear-gradient(top, #1bbd6f, #36c9a9);
    background-image: -o-linear-gradient(top, #1bbd6f, #36c9a9);
    background-image: linear-gradient(to bottom, #1bbd6f, #36c9a9);
    text-decoration: none;
  }
  .bottom-container{
      background-color: #e0ebe8;
      padding-top: 50px;
      margin-top: 20px;
  }
  .footer-link{

    margin-top: 50px;
  }
  .kiu{
      margin-top: 20px;
      margin-bottom: 0px;
      width: 400px;
      color: #7d8382;
      
  }
  .linkedin{

    width: 50px;
    margin-right: 500px;
  }
  a{
      color: #36c9a9;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin: 10px 80px 10px;
      text-decoration: solid;
      font-weight: bold;
  }
  a:hover{
      color: #424442;
  }
  .title{

    width: 400px;
    margin-left: 550px;
  }